@page "/reports"

@attribute [Authorize(Roles = "Admin")]
@inject ReportService ReportService

<h3>Report</h3>

<div class="d-md-flex">
    <div class='col-md-3'>
        <div class="form-group">
            <div class="input-group date">
                <label for="start-date-input">Start date: </label>
                <input type="date" id="start-date-input" name="Start Date"
                       max="@DateTime.Now.Date.ToString("yyyy-MM-dd")" @bind-value="@startDate">
            </div>
        </div>
    </div>
    <div class='col-md-3'>
        <div class="form-group">
            <div class="input-group date">
                <label for="end-date-input">End Date: </label>
                <input type="date" id="end-date-input" name="End Date" @bind-value="@endDate"
                       min="@startDate.ToString("yyyy-MM-dd")" max="@DateTime.Now.Date.ToString("yyyy-MM-dd")">
            </div>
        </div>
    </div>
    <div class='col-md-3'>
        <button class="btn btn-primary" @onclick="GenerateReport">
            Generate Report
        </button>
    </div>
</div>

<hr />
@*----------------------------------*@

@if (report == null)
{
    <p><em>Please Select a Date Range and Click on <strong>Generate Report</strong></em></p>
}
else
{
    <div>
        <h4>Report Overview</h4>

        <div>
            <dl class="row">
                <dt class="col-sm-3">Number of Completed Projects</dt>
                <dd class="col-sm-5">@report.CompletedProjects.Count</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3">Number of Completed Tickets</dt>
                <dd class="col-sm-5">@report.CompletedTickets.Count</dd>
            </dl>

            @*Extra: Have a pie chart to show the progress of projects completed and remaining?*@
        </div>
    </div>

    <hr />
    @*----------------------------------*@
    @*View all completed projects*@
    <div>
        <h4>Completed Projects</h4>

        @if (report.CompletedProjects == null || report.CompletedProjects.Count == 0)
        {
            <p><em>No Projects were completed within the chosen date range</em></p>
        }
        else
        {
            <ProjectsTable Projects="report.CompletedProjects" />
        }
    </div>

    <hr />
    @*----------------------------------*@
    @*View all completed tickets*@
    @if (report.CompletedTickets == null || report.CompletedTickets.Count == 0)
    {
        <p><em>No Tickets were completed within the chosen date range</em></p>
    }
    else
    {
        <TicketsTable Tickets="report.CompletedTickets" />
    }
}

@code {
    private DateTime startDate = DateTime.Now.Date;
    private DateTime endDate = DateTime.Now.Date;

    // TODO: it's better if the report can be persisted - if the user goes to a project/ ticket and come back, the report needs to be regenerated.
    private ReportDTO report;

    private async Task GenerateReport()
    {
        report = await Task.Run(() => ReportService.GetReportWithDateRangeAsync(startDate, endDate));
    }
}

@* reference: https://stackoverflow.com/questions/55796060/blazor-binding-value-to-input-date-in-one-way*@

@*extra: https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings
    https://github.com/jdtcn/BlazorDateRangePicker
    https://www.youtube.com/watch?v=g3mZ8mpA-lI
*@
