@page "/tickets/create"

@attribute [Authorize]
@inject NavigationManager Navigation
@using ProjectManagementSystem.Data

<h3>Create Ticket</h3>

<EditForm Model="ticket" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    @* this will validate the input against the fields mentioned in the model *@

    <div class="form-group">
        <label for="description-input" class="control-label">* Ticket Description</label>
        <InputText id="description-input" class="form-control" @bind-Value="@ticket.Description" @bind-Value:event="oninput"></InputText>
        <ValidationMessage For="@(()=>ticket.Description)" />
    </div>
    <div class="form-group">
        <label for="state-select" class="control-label">* Ticket State</label>
        <InputSelect id="state-select" class="custom-select" @bind-Value="@ticket.Status" @bind-Value:event="oninput">
            <option selected value="@TicketStatus.Open">Open</option>
            <option value="@TicketStatus.InProgress">In Progress</option>
            <option value="@TicketStatus.Done">Done</option>
            <option value="@TicketStatus.ToDo">To Do</option>
            <option value="@TicketStatus.UnderReview">Under Review</option>
            <option value="@TicketStatus.Approved">Approved</option>
            <option value="@TicketStatus.Cancelled">Cancelled</option>
        </InputSelect>
        <ValidationMessage For="@(()=>ticket.Status)" />
    </div>
    <div>
        <label for="user-select">Assigned User/s</label>
        <input type="search" id="user-select" class="form-control"
               @bind-value="userSearchInput" @bind-value:event="oninput"
               @onkeydown="@SearchUsers" placeholder="Choose User" />
    </div>
    <div>
        @* load users onenter in above search *@
        @*@bind-value="userIdToAdd" @bind-value:event="oninput"*@
    </div>

    <NavLink class="btn btn-outline-secondary" href="project-board">
        <span aria-hidden="true">Cancel</span>
    </NavLink>
    <button type="submit" class="btn btn-primary">Create Ticket</button>
</EditForm>

@code {
    private Ticket ticket { get; set; } = new Ticket();

    private String userSearchInput;
    // TODO: check an appropriate method to assign a user/ multiple users
    private String userIdToAdd;
    private List<String> assginedUserIds = new List<String>() { };

    private void SearchUsers()
    {
        //params - userSearchInput
        //call user model with filter by name
        //searchedUsers = 
    }

    protected async void HandleValidSubmit()
    {
        //await employeeService.InsertEmployeeAsync(obj);
        Navigation.NavigateTo("project-board");
    }
}
