@page "/tickets/details/{Id:guid}"

@attribute [Authorize]
@inject NavigationManager Navigation
@inject TicketService TicketService

<h3>Ticket Details</h3>

<hr />

@if (ticket == null)
{
    <p><em>@displayMessage</em></p>
}
else
{
    <dl class="row">
        <dt class="col-sm-2">
            Ticket Id
        </dt>
        <dd class="col-sm-10">
            @ticket.Id
        </dd>

        <dt class="col-sm-2">
            Ticket Description
        </dt>
        <dd class="col-sm-10">
            @ticket.Description
        </dd>
        <dt class="col-sm-2">
            Ticket Status
        </dt>
        <dd class="col-sm-10">@ticket.Status</dd>

        <dt class="col-sm-2">
            Ticket Project
        </dt>
        @if (ticket.Project != null)
        {
            <dd class="col-sm-10">
                @ticket.Project.Name
            </dd>
        }
        else
        {
            <dd class="col-sm-10 text-black-50">
                Unassigned
            </dd>
        }

        <dt class="col-sm-2">
            Assigned Users
        </dt>
        @if (ticket.Users != null)
        {
            @foreach (var user in ticket.Users)
            {
                <dd class="col-sm-10">
                    @user.FirstName
                </dd>
            }
        }
        else
        {
            <dd class="col-sm-10">
                <em>None</em>
            </dd>
        }


        @if (ticket.StartedOn != null)
        {
            <dt class="col-sm-2">
                Started On
            </dt>
            <dd class="col-sm-10">
                @ticket.StartedOn.Value.ToShortDateString()
            </dd>
            // reference: https://stackoverflow.com/a/6124299/11005638
        }


        @if (ticket.CompletedOn == null)
        {
            <dt class="col-sm-2">
                Project Status
            </dt>
            <dd class="col-sm-10 text-danger">
                Incomplete
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Completed On
            </dt>
            <dd class="col-sm-10">
                @ticket.CompletedOn.Value.ToShortDateString()
            </dd>
            // reference: https://stackoverflow.com/a/6124299/11005638
        }

    </dl>

    <a class="btn btn-outline-secondary" href="tickets/edit/@ticket.Id">
        <span class="oi oi-pencil" aria-hidden="true"> Edit Ticket</span>
    </a>
}

@code {
    [Parameter]
    public Guid Id { get; set; }
    public Ticket ticket { get; set; }

    public String displayMessage = "Loading Ticket Details";

    // Similar to Delete
    protected override async Task OnInitializedAsync()
    // any logic/ code needs to go in methods
    {
        base.OnInitialized();

        ticket = await Task.Run(() => TicketService.GetTicketAsync(Id));
        if (ticket == null)
        {
            displayMessage = "Ticket with Id: " + Id + " Not Found";
        }
    }
}
