@page "/projects/delete/{Id:guid}"

@attribute [Authorize(Roles = "Admin")]
@inject NavigationManager Navigation
@inject ProjectService ProjectService


@if (project == null)
{
    <p><em>@displayMessage</em></p>
}
else
{
    <h3>Are you sure you want to delete this Project?</h3>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">Project Id</dt>
        <dd class="col-sm-10">@project.Id</dd>

        <dt class="col-sm-2">
            Project Code
        </dt>
        <dd class="col-sm-10">
            @project.Code
        </dd>
        <dt class="col-sm-2">
            Project Name
        </dt>
        <dd class="col-sm-10">
            @project.Name
        </dd>
        <dt class="col-sm-2">
            Project Description
        </dt>
        <dd class="col-sm-10">
            @project.Description
        </dd>


        @if (project.StartedOn != null)
        {
            <dt class="col-sm-2">
                Started On
            </dt>
            <dd class="col-sm-10">
                @project.StartedOn.Value.ToShortDateString()
            </dd>
            // reference: https://stackoverflow.com/a/6124299/11005638
        }


        @if (project.CompletedOn == null)
        {
            <dt class="col-sm-2">
                Project Status
            </dt>
            <dd class="col-sm-10 text-danger">
                Incomplete
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Completed On
            </dt>
            <dd class="col-sm-10">
                @project.CompletedOn.Value.ToShortDateString()
            </dd>
            // reference: https://stackoverflow.com/a/6124299/11005638
        }


        <dt class="col-sm-2">
            Company
        </dt>
        @if (project.Company == null)
        {
            <dd class="col-sm-10 text-black-50">
                <em>Not Assigned</em>
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                @project.Company.Name
            </dd>
        }

        <dt class="col-sm-2">
            Assigned Users
        </dt>
        @if (project.Users != null && project.Users.Count != 0)
        {
            <dd class="col-sm-10">
                <UsersTable Users="project.Users" />
            </dd>
        }
        else
        {
            <dd class="col-sm-10 text-black-50">
                <em>None</em>
            </dd>
        }

        <dt class="col-sm-2">
            Tickets
        </dt>
        @if (project.Tickets != null && project.Tickets.Count != 0)
        {
            <dd class="col-sm-10">
                <TicketsTable Tickets="project.Tickets" />
            </dd>
        }
        else
        {
            <dd class="col-sm-10 text-black-50">
                <em>None</em>
            </dd>
        }
    </dl>

    <button class="btn btn-danger" @onclick="DeleteProject">
        <span class="oi oi-trash" aria-hidden="true"></span> Delete
    </button>
}
@code {
    [Parameter]
    public Guid Id { get; set; }

    public Project project { get; set; }
    public String displayMessage = "Loading Project Details";

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        project = await Task.Run(() => ProjectService.GetProjectAsync(Id));
        if (project == null)
        {
            displayMessage = "Project with Id: " + Id + " Not Found";
        }
    }

    private async Task DeleteProject()
    {
        await ProjectService.DeleteProjectAsync(project);
        Navigation.NavigateTo("/projects");        // redirect to projects page
    }
}
